<!-- 애플리케이션 명세서 -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cosmantic.cosmantic_khw" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 앱 구성요소에 대한 정보 -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 스플래시 액티비티 -->
        <activity
            android:name = ".SplashActivity"
            android:theme = "@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN"/>
                <category android:name = "android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 메인 액티비티 -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <activity android:name=".SignUpActivity"></activity>
        <activity
            android:name=".ProductActivity">
        </activity>
        <!-- RecommendDetail 액티비티 -->
        <activity
            android:name=".RecommendDetailActivity"
            android:theme="@style/RecommendDetailTheme">

        </activity>

        <!-- SignIn 액티비티 -->
        <activity
            android:name=".SignInActivity"
            android:theme="@style/SignInTheme">

        </activity>

        <!-- Search 액티비티 -->
        <activity
            android:name=".SearchActivity"
            android:theme="@style/SearchTheme">

        </activity>

        <!-- Home 액티비티 -->
        <activity
            android:name=".HomeActivity"
            android:theme="@style/HomeTheme">
        </activity>
        <activity android:name=".WebViewActivity"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_key"/>
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
    </application>

</manifest>
